/* ----------------
        App 
   ----------------
*/  

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* ----------------
        TYPOGRAPHY 
   ----------------
*/  
.App-link {
  color: #61dafb;
}

h1{
  margin: 0.5em;
}


/* ----------------
        SPACING 
   ----------------
*/  
p{
  font-size: 1rem;
  margin: 0.5em;
}

input{
  margin: 1em;
  padding: 0.5em;
  width: 8em;
}

/* ----------------
        TABLE 
   ----------------
*/   
table{
  font-size: 1rem;
  border-collapse: collapse;
  width: 95%;
  margin: 2.5%;
  margin-top:0;
  color: #282c34;
}

td, th{
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}

th{
  width: 25%;
  cursor: pointer;
}
th:first-child{
  width: 5%;
}

tr{
  height: 2em;
}

tr:nth-child(even){
  background-color: rgb(226, 225, 225);
}

tr:nth-child(odd){
  background-color: #9a9a9a;
}

.tableIconContainer{
  text-align: center;
  cursor: pointer;
}

.tableIconContainer:hover{
  opacity: 70%;
}

table input{
  margin: 0;
  padding: 2px;
  width: 80%;
}

.icon{
  max-width: 70%;
  max-height: 25px;
  pointer-events: none;
}

button{
  background-color: white;
  padding: 0.5em;
  color: #282c34;
  border: none;
  cursor: pointer;
  margin: 0.3em;
  border-radius: 2px;
  align-self: flex-end;
}
input[type=submit]{
  cursor:pointer;
}

button:hover{
  opacity: 95%;
}

.resetBtn{
  background-color: #d0d2d7;
}